In [ ]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

In [2]:
# testing pct change functionality
combined_data = Path("../resources/dan/sample_combined_data_dan.csv")
combined_data_df = pd.read_csv(combined_data)

# sample output
combined_data_df.head()

,date,zip,new_listing_count,active_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_feet,median_square_feet,average_listing_price,total_listing_count,pending_ratio,permit_count,permit_type
0,202006,77414,40,130,0,16,31,113.793981,1700.0,232176,161,0.2385,327,Residential
1,202006,77087,4,21,0,4,19,124.456393,1615.0,227396,40,0.9048,136,Residential
2,202006,77024,108,396,0,92,77,302.330691,3815.0,1759357,473,0.1944,289,Residential
3,202006,77020,28,66,4,16,32,167.322558,1666.0,273267,98,0.4848,360,Residential
4,202006,77983,0,22,0,4,9,153.846154,1746.0,288390,31,0.4091,90,Residential

In [3]:
# set variable(s) for later 'def' use
groupby_month = True

In [4]:
# set 'date' column type to date with year+month or with only year format (for easier groupby date, later)
if groupby_month == True:

    # set 'date' column type to date with year+month only format
    combined_data_df['date'] = pd.to_datetime(combined_data_df['date'], format= '%Y%m', exact=False)

elif groupby_month == False:

    # set 'date' column type to date with year only format
    combined_data_df['date'] = pd.to_datetime(combined_data_df['date'], format= '%Y', exact=False)

# sample output
combined_data_df.dtypes

date                                    datetime64[ns]
zip                                              int64
new_listing_count                                int64
active_listing_count                             int64
price_increased_count                            int64
price_reduced_count                              int64
pending_listing_count                            int64
median_listing_price_per_square_feet           float64
median_square_feet                             float64
average_listing_price                            int64
total_listing_count                              int64
pending_ratio                                  float64
permit_count                                     int64
permit_type                                     object
dtype: object

In [7]:
#  create multi-index of combined_date with groupby zip and date, then calculate sum for each new row
combined_by_zipdate = combined_data_df.groupby(['zip','date']).sum()

# sample output
combined_by_zipdate.groupby(level=0).head(2)

                  new_listing_count  active_listing_count  \
zip   date
7701  2016-07-01                 36                   136
      2016-08-01                 32                   123
7702  2016-07-01                  8                    32
      2016-08-01                  4                    33
7704  2016-07-01                 16                    59
...                             ...                   ...
77983 2016-08-01                  4                    33
77984 2017-10-01                  0                    15
      2019-11-01                  4                    13
77995 2016-07-01                  4                    28
      2016-08-01                  4                    30

                  price_increased_count  price_reduced_count  \
zip   date
7701  2016-07-01                      0                   28
      2016-08-01                      0                   16
7702  2016-07-01                      0                   12
      2016-08-01                      0                    4
7704  2016-07-01                      0                   12
...                                 ...                  ...
77983 2016-08-01                      0                    0
77984 2017-10-01                      0                    4
      2019-11-01                      0                    0
77995 2016-07-01                      0                    4
      2016-08-01                      0                    4

                  pending_listing_count  median_listing_price_per_square_feet  \
zip   date
7701  2016-07-01                      1                              0.000000
      2016-08-01                      0                              0.000000
7702  2016-07-01                      0                              0.000000
      2016-08-01                      0                              0.000000
7704  2016-07-01                      1                              0.000000
...                                 ...                                   ...
77983 2016-08-01                      1                            107.843137
77984 2017-10-01                      2                            100.735615
      2019-11-01                      2                            115.362150
77995 2016-07-01                      4                            101.501194
      2016-08-01                      3                             93.783494

                  median_square_feet  average_listing_price  \
zip   date
7701  2016-07-01                 0.0                 662054
      2016-08-01                 0.0                 735938
7702  2016-07-01                 0.0                 681286
      2016-08-01                 0.0                 658634
7704  2016-07-01                 0.0                1097353
...                              ...                    ...
77983 2016-08-01               960.0                 136147
77984 2017-10-01              1785.0                 170712
      2019-11-01              1864.0                 311076
77995 2016-07-01              1874.0                 241024
      2016-08-01              1786.0                 217864

                  total_listing_count  pending_ratio  permit_count
zip   date
7701  2016-07-01                  137         0.0074           292
      2016-08-01                  123         0.0000           224
7702  2016-07-01                   32         0.0000           110
      2016-08-01                   33         0.0000            11
7704  2016-07-01                   60         0.0169           269
...                               ...            ...           ...
77983 2016-08-01                   34         0.0303           271
77984 2017-10-01                   17         0.1333           270
      2019-11-01                   15         0.1538           191
77995 2016-07-01                   32         0.1429           185
      2016-08-01                   33         0.1000           301

[658 rows x 11 columns]

In [12]:
# Calc pct_chg for each column
combined_pct_chg = combined_by_zipdate.pct_change().dropna()

# sample output
combined_pct_chg.head()

                 new_listing_count  active_listing_count  \
zip  date
7712 2016-10-01           0.363636             -0.037500
     2016-11-01          -0.466667             -0.116883
     2016-12-01          -0.250000             -0.161765
     2017-01-01           2.333333              0.026316
     2017-02-01          -0.350000             -0.034188

                 price_increased_count  price_reduced_count  \
zip  date
7712 2016-10-01                    inf            -0.375000
     2016-11-01                    1.0            -0.200000
     2016-12-01                   -1.0            -0.250000
     2017-01-01                    inf             0.666667
     2017-02-01                   -1.0            -0.600000

                 pending_listing_count  median_listing_price_per_square_feet  \
zip  date
7712 2016-10-01              -0.250000                              0.044348
     2016-11-01               0.000000                             -0.043774
     2016-12-01              -0.333333                             -1.000000
     2017-01-01              -0.500000                                   inf
     2017-02-01               0.000000                             -0.485901

                 median_square_feet  average_listing_price  \
zip  date
7712 2016-10-01           -0.040400               0.013058
     2016-11-01           -0.277344              -0.008250
     2016-12-01           -1.000000              -0.028168
     2017-01-01                 inf              -0.002294
     2017-02-01           -0.460847               0.060209

                 total_listing_count  pending_ratio  permit_count
zip  date
7712 2016-10-01            -0.042683      -0.220000     35.272727
     2016-11-01            -0.114650       0.133333     -0.195489
     2016-12-01            -0.165468      -0.208145     -0.168224
     2017-01-01             0.017241      -0.514286     -0.932584
     2017-02-01            -0.033898       0.035294     13.777778

In [31]:
# check for bad data
combined_pct_chg.isnull()

                  new_listing_count  active_listing_count  \
zip   date
7712  2016-10-01              False                 False
      2016-11-01              False                 False
      2016-12-01              False                 False
      2017-01-01              False                 False
      2017-02-01              False                 False
...                             ...                   ...
77904 2019-01-01              False                 False
77954 2019-03-01              False                 False
      2019-04-01              False                 False
77979 2017-12-01              False                 False
      2018-01-01              False                 False

                  price_increased_count  price_reduced_count  \
zip   date
7712  2016-10-01                  False                False
      2016-11-01                  False                False
      2016-12-01                  False                False
      2017-01-01                  False                False
      2017-02-01                  False                False
...                                 ...                  ...
77904 2019-01-01                  False                False
77954 2019-03-01                  False                False
      2019-04-01                  False                False
77979 2017-12-01                  False                False
      2018-01-01                  False                False

                  pending_listing_count  median_listing_price_per_square_feet  \
zip   date
7712  2016-10-01                  False                                 False
      2016-11-01                  False                                 False
      2016-12-01                  False                                 False
      2017-01-01                  False                                 False
      2017-02-01                  False                                 False
...                                 ...                                   ...
77904 2019-01-01                  False                                 False
77954 2019-03-01                  False                                 False
      2019-04-01                  False                                 False
77979 2017-12-01                  False                                 False
      2018-01-01                  False                                 False

                  median_square_feet  average_listing_price  \
zip   date
7712  2016-10-01               False                  False
      2016-11-01               False                  False
      2016-12-01               False                  False
      2017-01-01               False                  False
      2017-02-01               False                  False
...                              ...                    ...
77904 2019-01-01               False                  False
77954 2019-03-01               False                  False
      2019-04-01               False                  False
77979 2017-12-01               False                  False
      2018-01-01               False                  False

                  total_listing_count  pending_ratio  permit_count
zip   date
7712  2016-10-01                False          False         False
      2016-11-01                False          False         False
      2016-12-01                False          False         False
      2017-01-01                False          False         False
      2017-02-01                False          False         False
...                               ...            ...           ...
77904 2019-01-01                False          False         False
77954 2019-03-01                False          False         False
      2019-04-01                False          False         False
77979 2017-12-01                False          False         False
      2018-01-01                False          False         False

[4111 rows x 11 columns]

In [24]:
import numpy as np

# Clean up np.inf or -np.inf values with 0
# combined_pct_chg.replace([np.inf, -np.inf], np.nan)
combined_pct_chg.replace([np.inf, -np.inf], 0, inplace=True)

# sample output
combined_pct_chg.head()

# type(combined_pct_chg.iloc[0, 2])
# csv_data["price_increased_count"] = csv_data["price_increased_count"].fillna("Unknown")
# csv_data
# # Cleanse up price_increased_count pct_chg
# # Cleanse nulls from DataFrame by filling na
# csv_data["customer_no"] = csv_data["customer_no"].fillna("Unknown")
# csv_data

                 new_listing_count  active_listing_count  \
zip  date
7712 2016-10-01           0.363636             -0.037500
     2016-11-01          -0.466667             -0.116883
     2016-12-01          -0.250000             -0.161765
     2017-01-01           2.333333              0.026316
     2017-02-01          -0.350000             -0.034188

                 price_increased_count  price_reduced_count  \
zip  date
7712 2016-10-01                    0.0            -0.375000
     2016-11-01                    1.0            -0.200000
     2016-12-01                   -1.0            -0.250000
     2017-01-01                    0.0             0.666667
     2017-02-01                   -1.0            -0.600000

                 pending_listing_count  median_listing_price_per_square_feet  \
zip  date
7712 2016-10-01              -0.250000                              0.044348
     2016-11-01               0.000000                             -0.043774
     2016-12-01              -0.333333                             -1.000000
     2017-01-01              -0.500000                              0.000000
     2017-02-01               0.000000                             -0.485901

                 median_square_feet  average_listing_price  \
zip  date
7712 2016-10-01           -0.040400               0.013058
     2016-11-01           -0.277344              -0.008250
     2016-12-01           -1.000000              -0.028168
     2017-01-01            0.000000              -0.002294
     2017-02-01           -0.460847               0.060209

                 total_listing_count  pending_ratio  permit_count
zip  date
7712 2016-10-01            -0.042683      -0.220000     35.272727
     2016-11-01            -0.114650       0.133333     -0.195489
     2016-12-01            -0.165468      -0.208145     -0.168224
     2017-01-01             0.017241      -0.514286     -0.932584
     2017-02-01            -0.033898       0.035294     13.777778