In [3]:
from dotenv import load_dotenv
import os
import requests
import json
import pandas as pd

In [4]:
load_dotenv()

True

In [472]:
api_key = os.getenv("ZIPCODE_API_KEY")
type(api_key)
# We could potentially make this interactive in the future.
zip_code = 77002
distance = 5
units = "miles"

In [473]:
url = f"http://www.zipcodeapi.com/rest/{api_key}/radius.json/{zip_code}/{distance}/{units}"

In [474]:
response_data = requests.get(url)
data = response_data.json()
print(json.dumps(data, indent=4))

{
    "zip_codes": [
        {
            "zip_code": "77021",
            "distance": 4.071,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77030",
            "distance": 4.082,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77005",
            "distance": 4.396,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77023",
            "distance": 3.714,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77004",
            "distance": 2.211,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77046",
            "distance": 4.39,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77098",
            "distance": 3.418,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77027",
            "distance": 4.983,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77006",
            "distance": 1.896,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77011",
            "distance": 3.498,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77003",
            "distance": 1.266,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77276",
            "distance": 0.567,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77285",
            "distance": 0.567,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77010",
            "distance": 0.409,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77019",
            "distance": 2.653,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77002",
            "distance": 0,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77001",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77052",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77202",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77203",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77204",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77205",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77206",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77207",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77208",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77209",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77210",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77212",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77213",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77215",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77216",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77217",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77218",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77219",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77220",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77221",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77222",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77223",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77224",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77225",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77226",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77227",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77228",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77229",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77230",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77231",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77233",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77234",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77235",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77236",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77237",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77238",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77240",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77241",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77242",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77243",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77244",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77245",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77248",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77249",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77251",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77252",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77253",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77254",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77255",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77256",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77257",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77258",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77259",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77261",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77262",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77263",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77265",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77266",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77267",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77268",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77269",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77270",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77271",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77272",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77273",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77274",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77275",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77277",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77279",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77280",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77282",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77284",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77287",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77288",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77289",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77290",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77291",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77292",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77293",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77297",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77299",
            "distance": 0.92,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77097",
            "distance": 0.378,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77296",
            "distance": 0.378,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77298",
            "distance": 0.378,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77201",
            "distance": 0.637,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77007",
            "distance": 2.93,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77020",
            "distance": 3.26,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77009",
            "distance": 2.664,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77008",
            "distance": 4.213,
            "city": "Houston",
            "state": "TX"
        },
        {
            "zip_code": "77026",
            "distance": 3.714,
            "city": "Houston",
            "state": "TX"
        }
    ]
}

In [505]:
zip_codes = []
city = []

for line in data["zip_codes"]:

    new_zip_code = int(line["zip_code"])
    zip_codes.append(new_zip_code)
    
    new_city = line["city"]
    city.append(new_city)

In [506]:
zip_code_df = pd.DataFrame()
zip_code_df['Zip Code']  = zip_codes
zip_code_df['City']  = city

In [504]:
zip_code_df.set_index("Zip Codes", inplace = True)
# zip_code_df.reset_index(inplace = True)
zip_code_df

KeyError: "None of ['Zip Codes'] are in the columns"

In [499]:
zip_code_df.reset_index(inplace= True)
zip_code_df.head()
zip_code_df.rename(columns = {"Zip Codes" : "Zip Code"}, inplace = True)

In [507]:
zip_code_df

     Zip Code     City
0       77021  Houston
1       77030  Houston
2       77005  Houston
3       77023  Houston
4       77004  Houston
..        ...      ...
101     77007  Houston
102     77020  Houston
103     77009  Houston
104     77008  Houston
105     77026  Houston

[106 rows x 2 columns]

In [11]:
import datetime as dt
from pathlib import Path

In [12]:
April_12_2018_Permit = Path("../resources/Vu/Permit_Data/2017/Apr_10_2017_Permits.csv")
permit = pd.read_csv(April_12_2018_Permit)
permit.set_index("Zip Code", inplace = True)
permit.reset_index(inplace = True)
permit.rename(columns = {"Zip Code": "Zip_Code"})

FileNotFoundError: [Errno 2] File ..\resources\Vu\Permit_Data\2017\Apr_10_2017_Permits.csv does not exist: '..\\resources\\Vu\\Permit_Data\\2017\\Apr_10_2017_Permits.csv'

In [ ]:
# new_datafile = pd.concat([permit, zip_code_df], join = "inner", axis = "columns")

In [ ]:
permit

In [18]:
# for line in permit:
#     x = int(line["Zip_Code"])
#     print(x)
#     print(permit["Zip Code"])
# #     print("\n")
#     condintional_variable = int(line["Zip Code"])
#     if condintional_variable in zip_codes:
# #         new_variable = int(permit["Zip Code"])
#         print(line["Zip Code"])
#     else:
#         print("this will not be included.")


# permit["Zip Code"][0]
new_df = pd.DataFrame()
count = 0
for line in permit:
    variable = permit["Zip Code"][count]
    count +=1
    if variable in zip_codes:
        new_df = new_df.append(permit.iloc[count])
#         new_df.append(permit.iloc[count])
        
        
        
        
# def check_if_zip_in(a,b,c,d):
#     count = 0
#     for line in c:
#         variable = permit["Zip Code"][count]
#         count += 1
#         if variable in a:
#             c.append

NameError: name 'permit' is not defined

In [107]:
new_df.head()

Empty DataFrame
Columns: []
Index: []

In [90]:
def checking_zip(zip_code_list, datafile, new_data_file):
    count = 0
    for line in datafile:
        variable = datafile["Zip_Code"][count]
        count += 1
        if variable in zip_code_list:
            new_data_file = new_data_file.append(datafile.iloc[count])
    new_data_file = new_data_file        
    return new_data_file

In [94]:
new_df = pd.DataFrame()
checking_zip(zip_codes, tax_2011, new_df)

Empty DataFrame
Columns: []
Index: []

In [115]:
new_df

,Count,Date,Land Use,Zip Code
1,1.0,4/10/2017,Unrestricted,77060.0
2,1.0,4/10/2017,Unrestricted,77407.0
3,1.0,4/10/2017,Drainage or Detention; Landscape or Open Space...,77407.0
4,1.0,4/10/2017,Unrestricted,77017.0

In [93]:
new_df

Empty DataFrame
Columns: []
Index: []

In [39]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip_Code", inplace = True)
tax_2011.dropna(inplace=True)

In [41]:
tax_2011.reset_index(inplace = True)
tax_2011.head()

,Zip_Code,Size of adjusted gross income,Number of returns,Real estate taxes,Mortgage interest paid,Total Charitable Contributions,Taxable income,Income tax,Year
0,75001.0,"$1 under $25,000",2644.0,562.0,729.0,254.0,9908.0,831.0,2011
1,75001.0,"$25,000 under $50,000",2442.0,812.0,1223.0,668.0,56677.0,6578.0,2011
2,75001.0,"$50,000 under $75,000",1426.0,1264.0,2460.0,1003.0,65105.0,9919.0,2011
3,75001.0,"$75,000 under $100,000",720.0,1139.0,1757.0,837.0,49204.0,8525.0,2011
4,75001.0,"$100,000 under $200,000",938.0,2903.0,4518.0,2176.0,104054.0,20648.0,2011

In [65]:
tax_2011 = tax_2011.astype({'Zip_Code': 'int'})
dataframe call column name = 2013-01-01
pd to datetime

In [72]:
new_tax_2011 = pd.DataFrame()
new_tax_2011 = checking_zip(zip_codes, tax_2011, new_tax_2011) 
pd.to_datetime(2013-01-01)

In [77]:
new_tax_2011.head()

Empty DataFrame
Columns: []
Index: []

In [88]:
cleaned_tax_2011 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011.csv")
tax_2011.to_csv(cleaned_tax_2011, index=False, header=True)

In [86]:
tax_2011['date'] = pd.to_datetime('2013-01-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)

In [87]:
tax_2011

,Zip_Code,Size of adjusted gross income,Number of returns,Real estate taxes,Mortgage interest paid,Total Charitable Contributions,Taxable income,Income tax,date
0,75001,"$1 under $25,000",2644.0,562.0,729.0,254.0,9908.0,831.0,2013-01-01
1,75001,"$25,000 under $50,000",2442.0,812.0,1223.0,668.0,56677.0,6578.0,2013-01-01
2,75001,"$50,000 under $75,000",1426.0,1264.0,2460.0,1003.0,65105.0,9919.0,2013-01-01
3,75001,"$75,000 under $100,000",720.0,1139.0,1757.0,837.0,49204.0,8525.0,2013-01-01
4,75001,"$100,000 under $200,000",938.0,2903.0,4518.0,2176.0,104054.0,20648.0,2013-01-01
...,...,...,...,...,...,...,...,...,...
9745,99999,"$25,000 under $50,000",80393.0,23629.0,42841.0,26399.0,1599395.0,171784.0,2013-01-01
9746,99999,"$50,000 under $75,000",37097.0,31742.0,58684.0,32647.0,1517831.0,200473.0,2013-01-01
9747,99999,"$75,000 under $100,000",20967.0,29053.0,50286.0,28831.0,1301550.0,188451.0,2013-01-01
9748,99999,"$100,000 under $200,000",26310.0,77567.0,126459.0,79732.0,2738306.0,488510.0,2013-01-01
9749,99999,"$200,000 or more",13418.0,99867.0,94708.0,211637.0,7328198.0,1811525.0,2013-01-01

In [66]:
type(tax_2011["Zip_Code"][0])

numpy.int32

In [445]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-01-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_01 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_01.csv")
tax_2011.to_csv(cleaned_tax_2011_01, index=True, header=True)

In [446]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-02-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_02 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_02.csv")
tax_2011.to_csv(cleaned_tax_2011_02, index=True, header=True)

In [447]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-03-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_03 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_03.csv")
tax_2011.to_csv(cleaned_tax_2011_03, index=True, header=True)

In [448]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-04-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_04 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_04.csv")
tax_2011.to_csv(cleaned_tax_2011_04, index=True, header=True)

In [449]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-05-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_05 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_05.csv")
tax_2011.to_csv(cleaned_tax_2011_05, index=True, header=True)

In [450]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-06-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_06 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_06.csv")
tax_2011.to_csv(cleaned_tax_2011_06, index=True, header=True)

In [451]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-07-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_07 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_07.csv")
tax_2011.to_csv(cleaned_tax_2011_07, index=True, header=True)

In [452]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-08-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_08 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_08.csv")
tax_2011.to_csv(cleaned_tax_2011_08, index=True, header=True)

In [453]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-09-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_09 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_09.csv")
tax_2011.to_csv(cleaned_tax_2011_09, index=True, header=True)

In [454]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-10-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_10 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_10.csv")
tax_2011.to_csv(cleaned_tax_2011_10, index=True, header=True)

In [455]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-11-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_11 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_11.csv")
tax_2011.to_csv(cleaned_tax_2011_11, index=True, header=True)

In [456]:
tax_path_2011 = Path("../resources/Vu/Tax_Data/2011_Taxes.csv")
tax_2011 = pd.read_csv(tax_path_2011)
tax_2011.set_index("Zip Code", inplace = True)
tax_2011.dropna(inplace=True)
tax_2011['date'] = pd.to_datetime('2011-12-01', format='%Y-%m-%d')
tax_2011.drop("Year", axis = 1,inplace = True)
cleaned_tax_2011_12 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_12.csv")
tax_2011.to_csv(cleaned_tax_2011_12, index=True, header=True)

In [457]:
tax_path_1 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_01.csv")
tax_path_2 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_02.csv")
tax_path_3 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_03.csv")
tax_path_4 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_04.csv")
tax_path_5 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_05.csv")
tax_path_6 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_06.csv")
tax_path_7 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_07.csv")
tax_path_8 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_08.csv")
tax_path_9 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_09.csv")
tax_path_10 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_10.csv")
tax_path_11 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_11.csv")
tax_path_12 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011_12.csv")
tax_1 = pd.read_csv(tax_path_1)
tax_2 = pd.read_csv(tax_path_2)
tax_3 = pd.read_csv(tax_path_3)
tax_4 = pd.read_csv(tax_path_4)
tax_5 = pd.read_csv(tax_path_5)
tax_6 = pd.read_csv(tax_path_6)
tax_7 = pd.read_csv(tax_path_7)
tax_8 = pd.read_csv(tax_path_8)
tax_9 = pd.read_csv(tax_path_9)
tax_10 = pd.read_csv(tax_path_10)
tax_11 = pd.read_csv(tax_path_11)
tax_12 = pd.read_csv(tax_path_12)
tax_2011 = pd.concat([tax_1, tax_2, tax_3, tax_4, tax_5, tax_6, tax_7, tax_8, tax_9, tax_10, tax_11, tax_12], join = 'inner', axis = 'rows')

In [458]:
cleaned_tax_2014 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011.csv")
tax_2011.to_csv(cleaned_tax_2014, index=False, header=True)

In [459]:
tax2011 = Path("../resources/Vu/Tax_Data/cleaned_tax_2011.csv")
tax2012 = Path("../resources/Vu/Tax_Data/cleaned_tax_2012.csv")
tax2013 = Path("../resources/Vu/Tax_Data/cleaned_tax_2013.csv")
tax2014 = Path("../resources/Vu/Tax_Data/cleaned_tax_2014.csv")
tax2015 = Path("../resources/Vu/Tax_Data/cleaned_tax_2015.csv")
tax2016 = Path("../resources/Vu/Tax_Data/cleaned_tax_2016.csv")
tax2017 = Path("../resources/Vu/Tax_Data/cleaned_tax_2017.csv")
tax_1 = pd.read_csv(tax2011)
tax_2 = pd.read_csv(tax2012)
tax_3 = pd.read_csv(tax2013)
tax_4 = pd.read_csv(tax2014)
tax_5 = pd.read_csv(tax2015)
tax_6 = pd.read_csv(tax2016)
tax_7 = pd.read_csv(tax2017)
tax_2011 = pd.concat([tax_1, tax_2, tax_3, tax_4, tax_5, tax_6, tax_7], join = 'inner', axis = 'rows')
cleaned_tax_2014 = Path("../resources/Vu/Tax_Data/cleaned_tax_FINAL.csv")
tax_2011.to_csv(cleaned_tax_2014, index=False, header=True)

In [460]:
clean_path = Path("../resources/Vu/Tax_Data/cleaned_tax_FINAL.csv")

In [462]:
clean_tax = pd.read_csv(clean_path)

C:\Users\dovu9\anaconda3\envs\dev\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [495]:
clean_tax.tail()

,Zip Code,Size of adjusted gross income,Number of returns,Real Estates,Mortgage,Charity,Taxable income,Income tax,date
817555,99999,"$25,000 under $50,000",61630,19851,20496,26165,1.08887e+06,113817,2017-12-01
817556,99999,"$50,000 under $75,000",34030,27620,29393,32531,1.33498e+06,172089,2017-12-01
817557,99999,"$75,000 under $100,000",20550,29631,30741,31073,1.24693e+06,177819,2017-12-01
817558,99999,"$100,000 under $200,000",30340,102858,104586,93449,3.16112e+06,541579,2017-12-01
817559,99999,"$200,000 or more",15790,165349,99481,273961,9.15648e+06,2.42239e+06,2017-12-01

In [494]:
type(clean_tax["Zip Code"][0])

numpy.int32

In [467]:
clean_tax = clean_tax.astype({'Zip Code': 'int'})

In [471]:
zip_codes

[77578,
 77546,
 77459,
 77545,
 77584,
 77588,
 77581,
 77062,
 77053,
 77089,
 77489,
 77487,
 77496,
 77047,
 77059,
 77048,
 77034,
 77497,
 77478,
 77075,
 77085,
 77477,
 77045,
 77246,
 77247,
 77498,
 77505,
 77061,
 77504,
 77071,
 77031,
 77035,
 77051,
 77501,
 77508,
 77587,
 77033,
 77286,
 77260,
 77099,
 77096,
 77502,
 77054,
 77025,
 77087,
 77074,
 77571,
 77017,
 77083,
 77021,
 77536,
 77072,
 77411,
 77250,
 77402,
 77036,
 77503,
 77401,
 77030,
 77081,
 77506,
 77005,
 77012,
 77023,
 77082,
 77004,
 77046,
 77098,
 77547,
 77063,
 77027,
 77006,
 77042,
 77011,
 77057,
 77056,
 77003,
 77276,
 77285,
 77077,
 77010,
 77019,
 77002,
 77029,
 77278,
 77001,
 77052,
 77202,
 77203,
 77204,
 77205,
 77206,
 77207,
 77208,
 77209,
 77210,
 77212,
 77213,
 77215,
 77216,
 77217,
 77218,
 77219,
 77220,
 77221,
 77222,
 77223,
 77224,
 77225,
 77226,
 77227,
 77228,
 77229,
 77230,
 77231,
 77233,
 77234,
 77235,
 77236,
 77237,
 77238,
 77240,
 77241,
 77242,
 77243,
 77244,
 77245,
 77248,
 77249,
 77251,
 77252,
 77253,
 77254,
 77255,
 77256,
 77257,
 77258,
 77259,
 77261,
 77262,
 77263,
 77265,
 77266,
 77267,
 77268,
 77269,
 77270,
 77271,
 77272,
 77273,
 77274,
 77275,
 77277,
 77279,
 77280,
 77282,
 77284,
 77287,
 77288,
 77289,
 77290,
 77291,
 77292,
 77293,
 77297,
 77299,
 77097,
 77296,
 77298,
 77015,
 77201,
 77094,
 77007,
 77024,
 77020,
 77079,
 77530,
 77013,
 77009,
 77055,
 77008,
 77026,
 77043,
 77080,
 77018,
 77084,
 77028,
 77092,
 77022,
 77049,
 77562,
 77078,
 77091,
 77041,
 77294,
 77076,
 77016,
 77093,
 77040,
 77088,
 77037,
 77050,
 77044,
 77039,
 77064,
 77038,
 77086,
 77065,
 77060,
 77396,
 77315,
 77067,
 77066,
 77070,
 77014,
 77032,
 77069,
 77325,
 77347,
 77346,
 77073,
 77068,
 77090,
 77338]

In [488]:
new_df = pd.DataFrame()
count = 0
for line in clean_tax:
    variable = clean_tax["Zip Code"][count]
    count +=1
    if variable in zip_codes:
        new_df = new_df.append(clean_tax.iloc[count])

In [546]:
clean_tax = clean_tax.astype({'Zip Code': 'int64'})
# clean_tax = clean_tax.astype({'Number of returns': 'int64'})
# clean_tax = clean_tax.astype({'Real Estates': 'int64'})
# clean_tax = clean_tax.astype({'Mortgage': 'int64'})
# clean_tax = clean_tax.astype({'Charity': 'int64'})
# clean_tax = clean_tax.astype({'Taxable income': 'int64'})
# clean_tax = clean_tax.astype({'Income tax': 'int64'})

In [511]:
clean_tax

,Zip Code,Size of adjusted gross income,Number of returns,Real Estates,Mortgage,Charity,Taxable income,Income tax,date
0,75001,"$1 under $25,000",2644,562,729,254,9908,831,2011-01-01
1,75001,"$25,000 under $50,000",2442,812,1223,668,56677,6578,2011-01-01
2,75001,"$50,000 under $75,000",1426,1264,2460,1003,65105,9919,2011-01-01
3,75001,"$75,000 under $100,000",720,1139,1757,837,49204,8525,2011-01-01
4,75001,"$100,000 under $200,000",938,2903,4518,2176,104054,20648,2011-01-01
...,...,...,...,...,...,...,...,...,...
817555,99999,"$25,000 under $50,000",61630,19851,20496,26165,1.08887e+06,113817,2017-12-01
817556,99999,"$50,000 under $75,000",34030,27620,29393,32531,1.33498e+06,172089,2017-12-01
817557,99999,"$75,000 under $100,000",20550,29631,30741,31073,1.24693e+06,177819,2017-12-01
817558,99999,"$100,000 under $200,000",30340,102858,104586,93449,3.16112e+06,541579,2017-12-01
817559,99999,"$200,000 or more",15790,165349,99481,273961,9.15648e+06,2.42239e+06,2017-12-01

In [521]:
clean_tax.drop(columns = "Size of adjusted gross income", inplace = True)

In [526]:
clean_tax = clean_tax.astype({"Number of returns" : 'int64'})

ValueError: invalid literal for int() with base 10: '2240.0'

In [493]:
type(zipp[0])
permits_df = permits_df.astype({'zip_code': 'int64'})

int

In [509]:
new_df = pd.merge(zip_code_df,clean_tax,on='Zip Code')

In [535]:
type(clean_tax["Taxable income"][2])

float

In [537]:
a = clean_tax["Income tax"].sum()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
clean_path = Path("../resources/dan/Permit_Data/permit_data.csv")

In [512]:
new = pd.pivot_table(clean_tax, index = "date", values = "Number of returns", columns = "Zip Code")

DataError: No numeric types to aggregate